/* Custom Styles here */

/* Background for header */
#header-img {
    background-image: url(../media/blastoff.png);
    width: 100%;
    min-height: 100px;
    max-height: 280px;
    padding: 0;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
}

/* Placing the GIF on the header as an absolute object */
#header-gif {
    min-height: 100px;
    max-height: 240px;
    position: absolute;
    top: 0;
    right: 40px;
    z-index: 1;
}

.navbar-item {
    display: inline-block;
    max-height: 40px;
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
    min-height: 36px;
    font-family: 'Sunflower';
    font-size: 14.75pt;
}

.navbar {
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0;
    border-left-width: 0;
    border-color: rgb(197, 197, 197);
}

.value-props, #button-container {
    margin-top: 10px;
    width: 960px;
    min-width: 490px;
}

.button {
    margin: 10px 32px 10px 32px;
    width: 160.19px;
}

#button-label-header {
    margin: 0 auto;
    font-family: 'Sunflower';
    font-style: italic;
    font-size: 21pt;
    text-align: left;
    font-weight: bolder;
    padding: 18px;
    max-width: 960px;
}

#new-gif {
    width: 400px;
    display: inline-block;
    margin: 0 30px 0 30px;
    text-align: center;
}

#gif-container {
    background-color: rgb(241, 241, 241);
    padding: 10px;
}

@media screen and (max-width: 1450px) {
    #header-gif {
        height: 200px;
        width: auto;
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 1;
    }
  }

@media screen and (max-width: 1200px) {
    #header-gif {
        height: 150px;
        width: auto;
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 1;
    }
}

@media screen and (max-width: 900px) {
    .value-props, #button-container {
        margin-top: 10px;
        width: 520px;

    }
    #header-gif {
        height: 110px;
        width: auto;
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 1;
    }
}

@media screen and (max-width: 600px) {
    .value-props, #button-container {
        margin-top: 10px;
        width: 490px;

    }
    #header-gif {
        height: 90px;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

@media screen and (max-width: 500px) {
    .value-props, #button-container {
        margin-top: 10px;
        width: 460px;

    }
    #header-gif {
        height: 60px;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}